* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --principal-red: #E3646E;
  --principal-purple: #BB72E9;
  --principal-blue: #3996DB;
  --principal-green: #82BC4F;
  --principal-yellow: #EABD5F;
  --base-gray-100: #0D0E11;
  --base-gray-200: #16181D;
  --base-gray-300: #292C34;
  --base-gray-400: #878EA1;
  --base-gray-500: #C0C4CE;
  --base-gray-600: #E2E4E9;

  --font-family: "Maven Pro", sans-serif;
  --font-family-subtitle: "Inconsolata", monospace;
  --font-family-title: "Asap", sans-serif;

  --text-md: 16px/140% var(--font-family);
  --text-sm: 14px/140% var(--font-family);

  --text-title-lg: 800 56px/120% var(--font-family-title);
  --text-title-md: 800 24px/120% var(--font-family-title);
  --text-title-sm: 800 16px/120% var(--font-family-title);

  --text-subtitle: 20px/120% var(--font-family-subtitle);
}

body {
  background-color: var(--base-gray-200);
  color: var(--base-gray-600);

  font-family: "Maven Pro", sans-serif;
}

#container {
  max-width: 1366px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  margin-bottom: 56px;
}

section .subtitle {
  /* margin-top: 72px; */
  margin-bottom: 8px;
  color: var(--principal-red);
}

.subtitle {
  font: var(--text-subtitle);
  color: var(--base-gray-500);
}

.color-red {
  color: var(--principal-red);
}