#services {
  background-color: var(--base-gray-100);
  padding-block: 88px 120px;
}

#services-content {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.services-card {
  display: flex;
  width: 280px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;

  border-radius: 12px;
  border: 2px solid var(--Base-gray-200, #16181d);
}

.card-description {
  font: var(--text-sm);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-description h3 {
  font: var(--text-title-sm);
}
